 <div class="grid">
    <div class="image">    
 <%max_num%>
    <% max_num = board.board.size.to_i - 1%>
<center>

            <font color="#000"><h3> Row Coordinates</h3></font>
                <input type="number" form="fire_ship_stuff" required name="row" autofocus placeholder="Row" min="0" max="<%= max_num %>">
                 <font color="#000"><h3>Column Coordinates</h3></font>
                <input type="number" form="fire_ship_stuff" required name="col" placeholder="Column" min="0" max="<%= max_num %>">
                </br>
                </br>
<form method="post" action="fire_shots" id="fire_ship_stuff">
    <button class="button">Fire</button>
</form>
</br>
</br>
    <%=end_game(board, cpuboard)%>
</center>
 </div>
           <div align="center" class="nav"> 
                       <h2>Player Board</h2>
           <table id="mytable">
                <tr>
                <th> </th>
                <%board.board.size.times do |v|%>
                <% if max_num == 35%>
                <th><font size=2> <%=v%> </font></th>
                <% else %>
                <th> <%=v%></th>
                <%end%> 
                <%end%>
                </tr> 
                <%board.board.each_with_index do |v, i|%>
                    <tr>
                    <% if max_num == 35%>
                    <th><font size=2> <%=i%></font></th>
                    <% else%>
                    <th><%=i%></th>
                    <%end%>
                    <%v.each_with_index do |k, o|%>
                <% if max_num == 35%>
                <th><font color=#0000FF size=2> <%=k%> </font></th>
                <% else %>
                <th><font color=#0000FF> <%=k%></font></th>
                <%end%> 
                        <%end%>
                    </tr>
                <%end%>    

            </table>     
            </div>     

            <div class="content" align="center">
            <h2>CPU Board</h2>
            <table id="cputable">
                <tr>
                <th> </th>
                <%cpuboard.board.size.times do |v|%>
                <% if max_num == 35%>
                <th><font size=2> <%=v%> </font></th>
                <% else %>
                <th> <%=v%></th>
                <%end%> 
                <%end%>
                </tr>
           
                <%cpuboard.board.each_with_index do |v, i|%>
                    <tr>
                    <% if max_num == 35%>
                    <th><font size=2><%=i%></font></th>
                    <% else%>
                    <th><%=i%></th>
                    <%end%>
                        <%v.each_with_index do |k, o|%>
               <% if max_num == 35%>
                <th><font color=#0000FF size=2> <%=k%> </font></th>
                <% else %>
                <th><font color=#0000FF> <%=k%></font></th>
                <%end%> 
                        <%end%>
                    </tr>
                <%end%>    

                
            </table>            
</div>
         <div class="footer">
     <center>   <p> <font color="#000"> App by :</font> Twfdisturbed </p></center></div>       
    

</div>
</div>

