
         <link rel="stylesheet" type="text/css" href="css/stop_watch.css">

  <div class="grid">
    <div class="image">    
    <form method="post" action="game">
 <%max_num%>
    <% max_num = board.board.size.to_i - 1%>
     <center>
            <font color="#000"><h3> Row coordinate</h3></font>
                <input type="number" required name="row" autofocus placeholder="Row" min="0" max="<%= max_num %>">
                 <font color="#000"><h3>Column coordinate</h3></font>
                <input type="number"  required name="col" placeholder="Column" min="0" max="<%= max_num %>">
                </br>
                <div id="direction">
                <font id="HV" color="#000"><h3>Horizontal or Vertical</h3></font>
                <select id="pos" name="pos">
                    <option id="pos" value="h">Horizontal</option>
                    <option id= "pos" value="v">Vertical</option>
                </select>
                <input type='text' name='ship_num' value='<%=ship_num%>' id="value_s">
                <font color="#000"><h1><%=err%></h1></font> 
                </div>
              
                <br><br>
                <button class=" button">Enter</button>
         

            </center>
        </form>
   
   </div>
           <div align="center" class="nav"> 
                       <h2>Player Board</h2>
           <table id="mytable">
                <tr>
                <th> </th>
                <%board.board.size.times do |v|%>
                <% if max_num == 35%>
                <th><font size=2> <%=v%> </font></th>
                <% else %>
                <th> <%=v%></th>
                <%end%> 
                <%end%>
                </tr>
           
                <%board.board.each_with_index do |v, i|%>
                    <tr>
                    <% if max_num == 35%>
                    <th><font size=2> <%=i%></font></th>
                    <% else%>
                    <th><%=i%></th>
                    <%end%>
                        <%v.each_with_index do |k, o|%>
                <% if max_num == 35%>
                <th><font color=#0000FF size=2> <%=k%> </font></th>
                <% else %>
                <th><font color=#0000FF><%=k%></font></th>
                <%end%> 
                        <%end%>
                    </tr>
                <%end%>    

            </table>     
            </div>     

            <div class="content" align="center">
            <h2>CPU Board</h2>
            <table id="cputable">
                <tr>
                <th> </th>
                <%cpuboard.board.size.times do |v|%>
                <% if max_num == 35%>
                <th><font size=2> <%=v%> </font></th>
                <% else %>
                <th> <%=v%></th>
                <%end%> 
                <%end%>
                </tr>
           
                <%cpuboard.board.each_with_index do |v, i|%>
                    <tr>
                    <% if max_num == 35%>
                    <th><font size=2><%=i%></font></th>
                    <% else%>
                    <th><%=i%></th>
                    <%end%>
                        <%v.each_with_index do |k, o|%>
               <% if max_num == 35%>
                <th><font color=#0000FF size=2> <%=k%> </font></th>
                <% else %>
                <th><font color=#0000FF> <%=k%></font></th>
                <%end%> 
                        <%end%>
                    </tr>
                <%end%>    
            </table>            
</div>


            <div class="footer">
     <center>   <p> <font color="#000"> App by :</font> Twfdisturbed </p></center></div>       
    

</div>
</div>